.taskBox {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    margin: 10px 0;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    gap: 10px;
    transition: box-shadow 0.3s ease;
}

.taskBox:hover {
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0,0,0,0.3);
}

.editButton {
    justify-self: end;
}